[data-body-class="chestnut"] #qLpercentage {

  background: #f542b0;

  color: #ffffff !important;

}

[data-body-class="chestnut"] a {

  color: #f542b0;

}

[data-body-class="chestnut"] a:hover {

  color: #c5212d;

}
.svg-icons .icon-set svg{
	width:30px !important;
	height:auto !important;
	vertical-align: middle;
	position: relative;
	margin-top: -7px;
}
 .svg-icons .icon-set svg path, 
 .svg-icons .icon-set svg polygon, 
 .svg-icons .icon-set svg rect, 
 .svg-icons .icon-set svg circle, 
 .svg-icons .icon-set svg ellipse, 
 .svg-icons .icon-set svg line,  
 .svg-icons .icon-set svg polyline, 
 .svg-icons .icon-set svg text {fill:#666666;}
 .svg-icons .icon-set:hover svg path, 
 .svg-icons .icon-set:hover svg polygon, 
 .svg-icons .icon-set:hover svg rect, 
 .svg-icons .icon-set:hover svg circle, 
 .svg-icons .icon-set:hover svg ellipse, 
 .svg-icons .icon-set:hover svg line,  
 .svg-icons .icon-set:hover svg polyline, 
 .svg-icons .icon-set:hover svg text {fill:#ffffff;}
[data-body-class="chestnut"] path,
[data-body-class="chestnut"] polygon,
[data-body-class="chestnut"] rect,
[data-body-class="chestnut"] circle, 
[data-body-class="chestnut"] ellipse, 
[data-body-class="chestnut"] line, 
[data-body-class="chestnut"] polyline, 
[data-body-class="chestnut"] text {fill: #f542b0;}
[data-body-class="chestnut"] [class*="icon-"] {

  color: #f542b0;

}

[data-body-class="chestnut"] .icon-set {

  color: #666666;

}

[data-body-class="chestnut"] .icon-set:hover {

  background: #f542b0;

  color: #ffffff;

}

[data-body-class="chestnut"] .color-border-bottom {

  border-bottom-color: #f542b0;

}

[data-body-class="chestnut"] [class*="slide-nav"] a:hover {

  color: #ffffff;

  border-color: #f542b0;

  background: #f542b0;

}

[data-body-class="chestnut"] [class*="slide-nav"] a:hover [class*="icon-"] {

  color: #ffffff;

}

[data-body-class="chestnut"] .social-icons a:hover {

  color: #FFF;

  border-color: #FFF;

}

[data-body-class="chestnut"] .social-icons a:hover [class*="icon-"] {

  color: #FFF;

}

[data-body-class="chestnut"] .scroll-up [class*="icon-"] {

  color: #ffffff;

}

[data-body-class="chestnut"] .scroll-up:hover {

  background: #f542b0;

}

[data-body-class="chestnut"] .scroll-down span:hover {

  background: #f542b0;

  border-color: #f542b0;

}

[data-body-class="chestnut"] .scroll-down span:hover [class*="icon-"] {

  color: #ffffff;

}

[data-body-class="chestnut"] .navbar .navbar-brand {

  background: #f542b0;

  color: #ffffff;

}

[data-body-class="chestnut"] .navbar .navbar-brand:hover {

  color: #ffffff;

}

[data-body-class="chestnut"] .navbar .navbar-nav li a:hover,

[data-body-class="chestnut"] .navbar .navbar-nav li a:focus {

  color: #f542b0;

}

[data-body-class="chestnut"] .navbar .navbar-nav li.current-menu-item > a,

[data-body-class="chestnut"] .navbar .navbar-nav li.active > a {

  color: #f542b0;

}

[data-body-class="chestnut"] .navbar .navbar-nav li.current-menu-item > a:hover,

[data-body-class="chestnut"] .navbar .navbar-nav li.active > a:hover,

[data-body-class="chestnut"] .navbar .navbar-nav li.current-menu-item > a:focus,

[data-body-class="chestnut"] .navbar .navbar-nav li.active > a:focus {

  color: #f542b0;

}

[data-body-class="chestnut"] .navbar.nav-transparent .navbar-nav a {

  color: #ffffff;

}

[data-body-class="chestnut"] .navbar.nav-transparent .navbar-nav a:hover,

[data-body-class="chestnut"] .navbar.nav-transparent .navbar-nav a:focus {

  color: #f542b0;

}

[data-body-class="chestnut"] .navbar .navbar-toggle {

  background: #f542b0;

  border-color: #f542b0;

}

[data-body-class="chestnut"] .navbar .navbar-toggle:hover {

  background: #f542b0;

}

[data-body-class="chestnut"] .site-footer .nav li a:hover {

  color: #f542b0;

}

[data-body-class="chestnut"] .about-us h2 a:hover {

  color: #f542b0;

}

[data-body-class="chestnut"] .slogan {

  background: #f542b0;

  color: #ffffff;

}

[data-body-class="chestnut"] .slogan h1,

[data-body-class="chestnut"] .slogan h2,

[data-body-class="chestnut"] .slogan h3 {

  color: #ffffff;

}

[data-body-class="chestnut"] .portfolio-section .portfolio-items-list .portfolio-item hgroup h5 a:hover {

  color: #f542b0;

}

[data-body-class="chestnut"] .portfolio-section .portfolio-filter li a:hover {

  color: #f542b0;

  border-color: #f542b0;

}

[data-body-class="chestnut"] .portfolio-section .portfolio-filter li a.active {

  background: #f542b0;

  color: #ffffff;

  border-color: #f542b0;
   text-decoration:none;

}

[data-body-class="chestnut"] .fade-col:hover {

  background: #f542b0;
	box-shadow: inset 0px -10px 0px rgba(0, 0, 0, 0.09);

}

[data-body-class="chestnut"] .list-mark li:before {

  border-color: #f542b0;

}

[data-body-class="chestnut"] .list-num li:before {

  border-color: #f542b0;

}

[data-body-class="chestnut"] [class*='list-empty'] > li:before {

  color: #f542b0;

}

[data-body-class="chestnut"] [class*='list-full'] > li:before {

  background: #f542b0;

  color: #ffffff;

}

[data-body-class="chestnut"] .alert.alert-colored {

  background: #f542b0;

  color: #ffffff;

}

[data-body-class="chestnut"] .alert.alert-colored .close {

  color: #ffffff;

}

[data-body-class="chestnut"] .alert.alert-border {

  border-color: #f542b0;

  color: #f542b0;

}

[data-body-class="chestnut"] .alert.alert-border .close {

  color: #f542b0;

}

[data-body-class="chestnut"] .custom-panel-group .panel-custom .panel-heading .panel-title a:hover {

  color: #f542b0;

}

[data-body-class="chestnut"] .custom-panel-group .panel-custom .panel-heading .panel-title a.active {

  background: #f542b0;

  color: #ffffff;

}

[data-body-class="chestnut"] .custom-panel-group .panel-custom .panel-heading .panel-title a.active:after {

  color: #ffffff;

}

[data-body-class="chestnut"] .custom-panel-group .panel-custom .panel-heading .panel-title a.active:hover {

  color: #ffffff;

}

[data-body-class="chestnut"] .progress .progress-bar-custom {

  background: #f542b0;

}

[data-body-class="chestnut"] .widget .tagcloud a:hover {

  border-color: #f542b0;

  color: #f542b0;

}

[data-body-class="chestnut"] .post .custom-date {

  background: #f542b0;

  color: #ffffff;

}

[data-body-class="chestnut"] .pagination.pagination-custom li.active a {

  background: #f542b0;

  color: #ffffff;

}

[data-body-class="chestnut"] .btn-default {

  background: #f542b0;

  border-bottom-color: #f542b0;

  color: #ffffff;

}

[data-body-class="chestnut"] .btn-default:hover {

  background: #fd66c3;

  border-bottom-color: #fd66c3;

  color: #ffffff;

}

[data-body-class="chestnut"] .btn-default.btn-inverse {

  background: #ffffff;

  color: #f542b0;

}

[data-body-class="chestnut"] .btn-default.btn-inverse:hover {

  background: #ffffff;

  border-bottom-color: #f2f2f2;

  color: #f542b0;

}

[data-body-class="chestnut"] .btn-white {

  color: #ffffff;

  border-color: #ffffff;

}

[data-body-class="chestnut"] .btn-white:hover {

  background: #ffffff;

  color: #f542b0;

}

[data-body-class="chestnut"] .breadcrumbs .breadcrumb .active a {

  color: #f542b0;

}

[data-body-class="chestnut"] .nav-tabs.nav-justified li a:hover,

[data-body-class="chestnut"] .nav-tabs.nav-justified li a:focus {

  color: #f542b0;

}

[data-body-class="chestnut"] .nav-tabs.nav-justified li.active a {

  background: #f542b0;

  color: #ffffff;

}

[data-body-class="chestnut"] .nav-tabs.nav-justified li.active a:hover,

[data-body-class="chestnut"] .nav-tabs.nav-justified li.active a:focus {

  background: #f542b0;

  color: #ffffff;

}

[data-body-class="chestnut"] .easyPieChart span {

  color: #f542b0;

}

[data-body-class="chestnut"] .team-section a:hover {

  color: #f542b0;

}
[data-body-class="chestnut"] .search-form button:hover, 
[data-body-class="chestnut"]  .widget .search-form button:focus,
[data-body-class="chestnut"]  .widget .search-form button:active,
[data-body-class="chestnut"]   .widget .search-form button.active{background: #f542b0;}
[data-body-class="chestnut"] .figure-hover-overlay .item-overlay, [data-body-class="chestnut"] .slider-figure-hover-overlay .item-overlay{background:rgba(245, 66, 176, 0.93)}
[data-body-class="chestnut"] .headingUline{background-color: #f542b0;}

[data-body-class="chestnut"] .btn-color.btn-empty {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-color: #f542b0;
}
[data-body-class="chestnut"] .btn-color.btn-empty:hover {
    background: none repeat scroll 0 0 #f542b0;
	color:#FFF;
}

[data-body-class="chestnut"] .arrow {
margin: 0px auto;
width: 0;
border-bottom: 15px solid #f542b0;
border-left: 20px solid transparent;
border-right: 20px solid transparent;
display: block;
}
[data-body-class="chestnut"] .arrow-social {
margin: 0px auto;
width: 0;
border-bottom: 22px solid #f542b0;
border-left: 30px solid transparent;
border-right: 30px solid transparent;
display: block;
}

[data-body-class="chestnut"] [class*="form"] label .req {
 color: #f542b0;
 font-weight: 300;
 width: 9px;
 display: inline-block;
}
[data-body-class="chestnut"] .figure-hover-overlay figcaption, [data-body-class="chestnut"] .slider-figure-hover-overlay  figcaption{
background: none repeat scroll 0 0 #f542b0;
color: #FFF;
left: 0;
padding: 10px;
position: absolute;
}
